@{
    ViewData["Title"] = "Bienvenido";
}

<div class="row" style="margin-top: 40px; margin-bottom: 30px;">
    <div class="col-2"></div>
    <div class="col-8">
        <div style="background-color: #FE914B; border-radius: 15px; padding-bottom: 10px; opacity: 86%;">
            <img src="~/img/logo_usmp.png" alt="" style="max-height: 75px; width: auto; padding-left: 5px;">
            <div style="text-align: center;">
                <img src="~/img/logo_amazon.png" alt="" style="width: 400px; height: auto;">
            </div>
            <div style="text-align: center; margin-top: 15px;">
                <a asp-controller="Home" asp-action="Login"><button type="button" class="btn btn-dark" style="color: #FE914B; border-radius: 12px;">INGRESAR</button></a>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
